body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}
h1{
    text-align: center;    
    margin: auto;   
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
<<<<<<< HEAD

=======
<<<<<<< Updated upstream
    padding-top: 30px;
>>>>>>> 6614c7e211700d7d0231dc28e987c18a2dbdb240
}
<<<<<<< HEAD























.link-button:hover {
    background-color: rgb(206, 163, 76);
    transform: scale(1.2);
    border: 1px solid black;
    font-weight: bold;
<<<<<<< HEAD
    margin-top: 50px;
=======
=======
h2 {
    text-decoration: underline;
>>>>>>> Emilio
=======
}

h2{
    text-decoration: underline;
>>>>>>> Stashed changes
>>>>>>> 6614c7e211700d7d0231dc28e987c18a2dbdb240
}