body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
<<<<<<< HEAD

.link-button:hover {
    background-color: rgb(206, 163, 76);
    transform: scale(1.2);
    border: 1px solid black;
    font-weight: bold;
=======
h2 {
    text-decoration: underline;
>>>>>>> Emilio
}